[submodule "src/lima"]
	path = src/lima
	url = https://github.com/lima-vm/lima
[submodule "src/vde_vmnet"]
	path = src/vde_vmnet
	url = https://github.com/lima-vm/vde_vmnet
[submodule "src/vde-2"]
	path = src/vde-2
	url = https://github.com/virtualsquare/vde-2.git
